[submodule "dependencies/vkal"]
	path = dependencies/vkal
	url = https://github.com/michaeleggers/vkal
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
